.search-bar {

  display: flex;

  flex-direction: column; 

  align-items: center; 

  margin-bottom: 50px;

  width: 80%; 

  max-width: 400px; 

  margin-left: auto;
  margin-right: auto;
}

.search-bar input {
  padding: 12px 15px; 
  border: 2px solid #ccc;

  border-radius: 5px; 
  font-size: 16px;

  width: 100%; 

  margin-bottom: 10px; 

  box-sizing: border-box; 
}

.search-bar button {
  padding: 10px 30px;
  border: none;
  background-color: #007bff;
  color: white;

  border-radius: 5px; 
  font-size: 16px;
  transition: background-color 0.3s;

  width: 100%; 
}

.search-bar button:hover {
  background-color: #0056b3;
}

@media (min-width: 480px) {
  .search-bar {

    flex-direction: row; 

    max-width: 600px; 
  }

  .search-bar input {

    width: 70%; 

    margin-bottom: 0; 

    border-radius: 5px 0 0 5px;
  }

  .search-bar button {

    width: 30%; 

    margin-bottom: 0;

    border-radius: 0 5px 5px 0;

  }
}