.weather-container {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
  }
  
  .weather-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .weather-container h2 {
      font-size: 1.5em; 
      margin-bottom: 10px;
  }
  
  .main-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; 
  }
  
  .weather-icon {
    width: 70px; 
    height: 70px;
  }
  
  .temperature {
    font-size: 3.5em; 
    font-weight: bold;
    color: #333;
    margin-left: 15px; 
  
    transition: font-size 0.3s ease; 
  }
  
  .description {
    font-size: 1.2em; 
    color: #666;
    margin-bottom: 20px;
  }
  
  .details {
      display: flex;
      flex-direction: column; 
      gap: 5px;
  }
  
  .details p {
    background-color: #eee;
    padding: 10px;
    margin: 0; 
    border-radius: 6px; 
    text-align: left;
    font-size: 0.95em;
  }
  
  @media (min-width: 600px) {
    .weather-container {
      padding: 30px;
    }
  
    .weather-icon {
      width: 90px; 
      height: 90px;
    }
  
    .temperature {
      font-size: 5em; 
      margin-left: 30px;
    }
  
    .description {
      font-size: 1.6em; 
    }
  
   
  
    .details p {
      padding: 12px;
    }
  }